@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #edf0f1;
    background-color: #24252a;
}

.project{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

}

.proj_heading1{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: #a4b96f;
    font-size: 65px;
    margin-left: 38%;
}
.project_gif{
    margin-left: 3%;
}