body{
    background: rgb(58,58,58);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    

}

a {
    color: white;
}

header{
    color: white;
    background-image: url(Images_project/Header_background.webp);
    background-size: 100%;
    background-position: center;
    text-decoration: none;
    text-transform: uppercase;
    height: 400px;
    padding: 60px 0px 0px 0px;

    

}



section{
    background: white;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
}

footer{
    background: lightblue;
}

div{
    background: rgb(223, 214, 214);
    margin: auto;
    width: 100px;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

li{
    width: auto;
    padding: 5px 10px;
    width: 100%;
    text-align: center;


}
h1{
    color: aliceblue;
    background: rgb(125,58,58);
    font: bold;
    margin: 20px 70px;
        
}
.Lower_Section{
    background: rgb(202, 220, 222);
    color: rgb(71, 115, 154);
    margin:10px;
    width: 100%;
}
header .logo a {
    background-image: url(Images_project/Img_logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    position: relative;
    bottom: 85px;
    text-indent: -999999px;
    width: 300px;
} 
section{
    height: 200px;
} 








